<!DOCTYPE html>

<html lang = 'en'>

    <%- include('./partials/head.ejs') %> <!-- Includes HTML Configurations -->

    <body id = 'catalog'>

        <script src = '/js/catalogFunctions.js'></script>

        <%- include('./partials/nav.ejs') %> <!-- Includes navigation -->
        <%- include('./partials/search-bar.ejs') %> <!-- Includes search bar -->

        <div id = 'product-panel' style = <% if (typeof product != 'undefined') { %> 'top:calc(50% + 50px)' <% } else { %> 'top: -100%' <% } %>>
            <div class = 'picture' style = <%= "background-image:" + 'url("/img/productImages/' + (typeof product != 'undefined' ? product.image : 'default.png') + '")'%>></div>
            <h1 class = 'name'><%= typeof product != 'undefined' ? product.name : '' %></h1>
            <h3 class = 'price'><%= typeof product != 'undefined' ? product.price + '$': '' %></h3>
            <div>
                <p class = 'storage'>Storage <span><%= typeof product != 'undefined' ? product.storage + ' GB': '' %></span></p>
                <p class = 'ram'>RAM <span><%= typeof product != 'undefined' ? product.ram + ' GB': '' %></span></p>
                <p class = 'processor'>Processor <span><%= typeof product != 'undefined' ? product.processor : '' %></span></p>
                <p class = 'color'>Color <span><%= typeof product != 'undefined' ? product.color : '' %></span></p>
                <p class = 'weight'>Weight <span><%= typeof product != 'undefined' ? product.weight + ' Grams': '' %></span></p>
                <p class = 'display'>Display <span><%= typeof product != 'undefined' ? product.display + ' Inch' : '' %></span></p>
                <p class = 'resolution'>Resolution <span><%= typeof product != 'undefined' ? product.resolution : '' %></span></p>
                <p class = 'frontCamera'>Front Camera <span><%= typeof product != 'undefined' ? product.frontCamera + ' MP' : '' %></span></p>
                <p class = 'backCamera'>Back Camera <span><%= typeof product != 'undefined' ? product.backCamera + ' MP' : '' %></span></p>
                <p class = 'video'>Recording <span><%= typeof product != 'undefined' ? product.video : '' %></span></p>
            </div>

            <button class = 'button'>Add to Cart</button>
        </div>

        <div id = 'container'>
            <ol id = 'content'>
                <li class = 'push-button'>Manufacturer
                    <div class = 'dropdown'>
                        <div class = 'triangle'></div>
                        <ul class = 'content-list'>
                            <li>Apple</li>
                            <li>Google</li>
                            <li>Samsung</li>
                            <li>Sony</li>
                            <li>Huawei</li>
                            <li>Xiaomi</li>
                        </ul>
                    </div>
                </li>
    
                <li class = 'push-button'>Size
                    <div class = 'dropdown'>
                        <div class = 'triangle'></div>
                        <ul class = 'content-list'>
                            <li>4 to 4.4 in</li>
                            <li>4.5 to 4.9 in</li>
                            <li>5 to 5.4 in</li>
                            <li>5.5 in & above</li>
                        </ul>
                    </div>
                </li>
    
                <li class = 'push-button'>Storage
                    <div class = 'dropdown'>
                        <div class = 'triangle'></div>
                        <ul class = 'content-list'>
                            <li>8 GB</li>
                            <li>18 GB</li>
                            <li>32 GB</li>
                            <li>64 GB</li>
                            <li>128 GB</li>
                            <li>256 GB</li>
                        </ul>
                    </div>
                </li>
    
                <li class = 'push-button'>RAM
                    <div class = 'dropdown'>
                        <div class = 'triangle'></div>
                        <ul class = 'content-list'>
                            <li>4 GB</li>
                            <li>6 GB</li>
                            <li>8 GB</li>
                            <li>12 GB</li>
                        </ul>
                    </div>
                </li>
    
                <li class = 'push-button'>Color
                    <div class = 'dropdown'>
                        <div class = 'triangle'></div>
                        <ul class = 'content-list'>
                            <li>Black</li>
                            <li>White</li>
                            <li>Red</li>
                            <li>Green</li>
                            <li>Blue</li>
                            <li>Other</li>
                        </ul>
                    </div>
                </li>
    
                <li class = 'push-button'>Features
                    <div class = 'dropdown'>
                        <div class = 'triangle'></div>
                        <ul class = 'content-list'>
                            <li>LTE</li>
                            <li>Dual Camera</li>
                            <li>Dual Sim</li>
                            <li>Waterproof</li>
                            <li>OLED</li>
                        </ul>
                    </div>
                </li>
    
                <li class = 'push-button'>Price
                    <div class = 'dropdown'>
                        <div class = 'triangle'></div>
                        <ul class = 'content-list'>
                            <li>$50 to $100</li>
                            <li>$100 to $150</li>
                            <li>$150 to $250</li>
                            <li>$250 to $400</li>
                            <li>$400 to $600</li>
                            <li>$600 & above</li>
                        </ul>
                    </div>
                </li>
            </ol>
        </div>

        <div id = 'filter-tag'>
            <button>Apple</button>
            <button>3 GB</button>
            <button>256 GB</button>
        </div>

        <div id = 'products'></div>

        <%- include('./partials/footer.ejs') %> <!-- Includes footer -->

    </body>
</html>