<!DOCTYPE html>

<html lang = 'en'>

    <%- include('./partials/head.ejs') %> <!-- Includes HTML Configurations -->

    <body id = 'home'>

        <script src = '/js/homeFunctions.js'></script>
        <%- include('./partials/nav.ejs') %> <!-- Includes navigation -->

        <div id = 'banner'>
            <%- include('./partials/search-bar.ejs') %>
        </div>

        <a>
            <img id = 'arrow' src = '/img/icons/Down-arrow.svg'>
        </a>
        
        <h1>Featured Phones</h1>

        <div class = 'dark-shadow featured-container'>
            <% for (let i = 0; i < products.length / 2; i++) { %>
                <% const product = products[i]; %>
                <div class = 'featured'>
                    <div class = 'blur-container'>
                        <a href = '/catalog?search=<%= product.id %>'>See More ></a>
                    </div>
    
                    <p class = 'title'><%= product.name %></p>
                    <p class = 'subtitle'><%= product.manufacturers.name %></p>
                    <img src = '/img/productImages/<%= product.image %>'>
    
                </div>
            <% } %>
        </div>

        <h1>Best Selling Phones</h1>

        <div class = 'dark-shadow featured-container'>
            <% for (let i = 3; i < products.length; i++) { %>
                <% const product = products[i]; %>
                <div class = 'featured'>
                    <div class = 'blur-container'>
                        <a href = '/catalog?search=<%= product.id %>'>See More ></a>
                    </div>
    
                    <p class = 'title'><%= product.name %></p>
                    <p class = 'subtitle'><%= product.manufacturers.name %></p>
                    <img src = '/img/productImages/<%= product.image %>'>
    
                </div>
            <% } %>
        </div>

        <%- include('./partials/footer.ejs') %> <!-- Includes footer -->

    </body>
</html>