<!DOCTYPE html>

<html lang = 'en'>

    <%- include('./partials/head.ejs') %> <!-- Includes HTML Configurations -->
    <%- include('./partials/login.ejs') %> <!-- Includes Login popup -->

    <body>

        <%- include('./partials/nav.ejs') %> <!-- Includes navigation -->
        <%- include('./partials/search-bar.ejs') %> <!-- Includes search bar -->

        <div id = 'register' class = 'dark-shadow'>

            <h1>Register</h1>

            <form id = 'register-form' action = '/register' method = 'POST'>

                <input class = 'form-input' type = 'text' id = 'firstname' name = 'name'>
                <input class = 'form-input' type = 'text' id = 'lastname' name = 'lastname'>

                <div id = 'birthdate'>
                    <input class = 'form-input' type = 'number' id = 'day' name = 'day' min = 1 max = 31 placeholder = 'day'>
                    <input class = 'form-input' type = 'number' id = 'month' name = 'month' min = 1 max = 12 placeholder = 'month'>
                    <input class = 'form-input' type = 'number' id = 'year' name = 'year' min = 1900 max = 2008 placeholder = 'year'>
                </div>

                <div id = 'genders'>
                    <label for = 'female'>Female</label>
                    <input class = 'form-input' type = 'radio' id = 'female' name = 'gender' value = 'female'>

                    <label for = 'male'>Male</label>
                    <input class = 'form-input' type = 'radio' id = 'male' name = 'gender' value = 'male'>
                </div>

                <input class = 'form-input' type = 'email' id = 'email' name = 'email'>
                <input class = 'form-input' type = 'password' id = 'password' name = 'password'>
                <input class = 'form-input' type = 'password' id = 'confirmation' name = 'confirmation'>

                <label class = 'register-label' for = 'firstname'>First Name</label>
                <label class = 'register-label' for = 'lastname'>Last Name</label>
                <label class = 'register-label' for = 'birthday'>Date of Birth</label>
                <label class = 'register-label' id = 'email-label' for = 'email'>Email</label>
                <label class = 'register-label' for = 'password'>Password</label>
                <label class = 'register-label' for = 'confirmation'>Repeat Password</label>

                <!-- Code to show form errors, incomplete, might be done with JSFront -->
                <% if (typeof errors != 'undefined') { %>
                    <% if (errors.name) { %>
                        <label class = 'error-msg'><%= errors.name.msg %></label>
                    <% } else {%>
                        <label  class = 'error-msg'></label>
                    <% } %>

                    <% if (errors.lastname) { %>
                        <label class = 'error-msg'><%= errors.lastname.msg %></label>
                    <% } else {%>
                        <label class = 'error-msg'></label>
                    <% } %>

                    <% if (errors.day) { %>
                        <label class = 'error-msg'><%= errors.day.msg %></label>
                    <% } else {%>
                        <label class = 'error-msg'></label>
                    <% } %>

                    <% if (errors.gender) { %>
                        <label class = 'error-msg'><%= errors.gender.msg %></label>
                    <% } else {%>
                        <label class = 'error-msg'></label>
                    <% } %>

                    <% if (errors.email) { %>
                        <label class = 'error-msg'><%= errors.email.msg %></label>
                    <% } else {%>
                        <label class = 'error-msg'></label>
                    <% } %>

                    <% if (errors.password) { %>
                        <label class = 'error-msg'><%= errors.password.msg %></label>
                    <% } else {%>
                        <label class = 'error-msg'></label>
                    <% } %>

                    <% if (errors.confirmation) { %>
                        <label class = 'error-msg'><%= errors.confirmation.msg %></label>
                    <% } else {%>
                        <label class = 'error-msg'></label>
                    <% } %>
                <% } %>

                <input class = 'button' type = 'submit' value = 'Submit'>
                <p class = 'prompt'>Already have an account? <a href = '/'>Log in</a></p>

            </form>
        </div>

        <%- include('./partials/footer.ejs') %> <!-- Includes footer -->

    </body>
</html>